<!DOCTYPE html>
<html lang="ae">
<head>
    <meta charset="utf-8" />
    <title>MyResume</title>
</head>
<body>
    <header>
       <label>MyResume</label>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
</body>
<footer>
    <p>© 2015 - MobileStore</p>
</footer>
</html>
