<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8" />
    <title>MyResume</title>
</head>
<body id="particlesJS">
    <div class="container_My_resume ">
        <div class="wrapper">
            <div>
                <div class="box_img_container_top ">
                    <div class="box_img">
                        <img class="author__image" src="~/img/631978956.jpeg" alt="Telegram"></img>
                        <div class="box_img_container">
                            <div class="box_img_text">
                                <h1>My Telegram</h1>
                                <p>IscanderDanielovich</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1>Обо мне:</h1>
                    <p class="text_td">Меня зовут Середин Александр Даниилович. Я работаю программистом с Март 2021 по настоящее время.</p>
                    <p class="text_td">
                        В данный момент работаю Backend-разработчиком в отделе Аналитики в компании <a href="https://fullhpltd.com/">"ООО Фаренгейт Лаб"</a>
                        Ростов-на-Дону. На работе занимаюсь в основном, написанием скриптов для аналитика используя Google Аналитики, Firebase Аналитики,
                        FaceBook Аналитики. Интерграцией все возможных SDK c последующей настойкой.
                    </p>

                </div>
            </div>
            <div class="My_Resume My_Resume_text">
                <h1>My skil:</h1>
                <table class="table">
                    <tbody>
                        <tr class="table-active">
                            <td class="text_td">IDE:</td>
                            <td>Visual Studio 2022</td>
                            <td>Visual Studio 2019</td>
                            <td>Visual Studio Code</td>
                            <td>XCode</td>
                            <td>Unity</td>
                        </tr>
                        <tr>
                            <td>Programming languages:</td>
                            <td>С#</td>
                            <td>JavaScript</td>
                            <td>CSS</td>
                            <td>HTML5</td>
                        </tr>
                        <tr>
                            <td>Database:</td>
                            <td>MySQL</td>
                            <td>Realization:</td>
                            <td>Entity Framework</td>
                        </tr>
                        <tr>
                            <td>Design patterns:</td>
                            <td>MVS</td>
                            <td>Builder</td>
                            <td>Factories</td>
                            <td>Prototype</td>
                            <td>Singleton</td>
                            <td>Adapter</td>
                            <td>etc.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">My Projects</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="ToDoLists">Todo List<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="APIToDoList">ToDoListAPI<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-item dropdown">
                                <button class="mainmenubtn">Design patterns:</button>
                                <div class="dropdown-child">
                                    <a href="#">Builder</a>
                                    <a href="#">Factories</a>
                                    <a href="#">Prototype</a>
                                    <a href="#">Singleton</a>
                                    <a href="#">Adapter</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="container_My_projects ">
        <main role="main" class="wrapper">
            @RenderSection("scripts", required: false)
            @RenderBody()
        </main>
    </div>
</body>


<footer class="container_basement ">
    <div class="_container_basement">
        <p>©2022 - Somehow it doesn't look like another</p>
    </div>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/drop-down_Menu.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</footer>
</html>
