<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8" />
    <title>MyResume</title>
</head>
<body id="particlesJS">
    <div class="container_My_resume ">
        <div class="wrapper">
            <div>
            <div class="box_img_container_top ">
                <div class="box_img">
                    <img class="author__image" src="~/img/631978956.jpeg" alt="Telegram"></img>
                    <div class="box_img_container">
                        <div class="box_img_text">
                            <h1>My Telegram</h1>
                            <p>IscanderDanielovich</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1>Обомне:</h1>
                <p>Меня зовут Середин Александр Даниилович. Я работаю програмистом с Март 2021 по настоящее время.
                <p>
                    В данный момерт работаю Backend-разработчиком в отделе Аналитики в компании <br/><a href="https://fullhpltd.com/">"ООО Фаренгейт Лаб"</a>
                    Ростов-на-Дону.На работе занимаюсь в основном,написанием скрипнов для аналитике используя Google Аналитики, Firebase Аналитики,
                    FaceBook Аналитики. Интерграцией все возможных SDK c последующей настойкой.
                </p>
            </div>
           </div>
            <div class="My_Resume My_Resume_text">
                <h1>What I know and can do:</h1>
                <table class="table">
                    <tbody>
                        <tr class="table-active">
                            <td>Gloria</td>
                            <td>Reeves</td>
                            <td>67439</td>
                            <td>10/18/1985</td>
                        </tr>
                        <tr>
                            <td>Graham</td>
                            <td>Bonner</td>
                            <td>90727</td>
                            <td>12/07/1983</td>
                        </tr>
                        <tr>
                            <td>Warren</td>
                            <td>Wheeler</td>
                            <td>99134</td>
                            <td>11/11/1984</td>
                        </tr>
                        <tr>
                            <td>Zena</td>
                            <td>Hale</td>
                            <td>19803</td>
                            <td>06/17/1987</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container_My_projects ">
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>
</body>


<footer class="container_basement ">
    <div class="_container_basement">
        <p>©2022 - Somehow it doesn't look like another</p>
    </div>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</html>
